:root {
  --theme-bg: #ffffff;
  --theme-text: #1c1c1c;
}

html, body {
  background-color: var(--theme-bg);
  color: var(--theme-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode Scrollbar */
.scrollbar-dark::-webkit-scrollbar {
  width: 2px;
}
.scrollbar-dark::-webkit-scrollbar-track {
  background: #1c1c1c;
}
.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 4px;
}
.scrollbar-dark {
  scrollbar-width: thin;
  scrollbar-color: #333333 #1c1c1c;
}

/* Light Mode Scrollbar */
.scrollbar-light::-webkit-scrollbar {
  width: 2px;
}
.scrollbar-light::-webkit-scrollbar-track {
  background: #ffffff;
}
.scrollbar-light::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 4px;
}
.scrollbar-light {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #ffffff;
}


/* Prevent jVectorMap from interfering with browser zoom */
.jvectormap-container {
  pointer-events: none !important;
  touch-action: none !important;
}

.jvectormap-container svg {
  pointer-events: none !important;
}

.jvectormap-container * {
  pointer-events: none !important;
}

@import "tailwindcss";